<%= form_for(@kitten) do |f| %>
    <div class="form-group form-group-lg">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group form-group-lg">
    <%= f.label :age %>
    <%= f.text_field :age, class:"form-control" %>
    </div>
    <div class="form-group form-group-lg">
    <%= f.label :cuteness %>
    <%= f.text_field :cuteness, class:"form-control" %>
    </div>
    <div class="form-group  form-group-lg">
    <%= f.label :softness %>
    <%= f.text_field :softness, class:"form-control" %>
    </div>

    <%= f.submit yield(:button_text), class: "btn btn-success btn-lg" %>
<% end %>